<a class="dropdown-toggle" data-toggle="dropdown" href="#"  ><strong>Genres</strong><span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
{{#each genres}}
    <li><a href="#/genres/{{this}}">{{this}}</a></li>
    {{/each}}
              </ul>
