<div class="container" >
<div class="jumbotron">
  <div class="row">
    <div class="col-md-6">
    <form class="" action="#/profile/change-password" method="POST">
      <div class="form-group">
        <label>Current Password: </label>
        <input type="text" class="form-control new-email" id="currentPassword">
        
        <label>New password: </label>
        <input type="text" class="form-control new-email" id="changePassword">
        <button type="submit" style="margin-top: 20px;" class="btn btn-sm btn-info">Change</button>
     </div>
    </form>
   </div>
  </div>
</div>
