<div class="container" >
<div class="jumbotron">
  <div class="row">
    <div class="col-md-6">
    <form class="" action="#/profile/change-username" method="POST">
      <div class="form-group">
        <label>New username: </label>
        <input type="text" class="form-control new-email" id="changeUsername">
        <button type="submit" style="margin-top: 20px;" class="btn btn-sm btn-info">Change</button>

        <br />
        <h5>Refresh the page to see your new username.</h5>
     </div>
    </form>
   </div>
  </div>
</div>
