.invisible {
  display: none;
}

.imgNotFound {
  margin-bottom: 100px;
  margin-left: 250px;
}

.more-details {
  text-decoration: none;
  color: white;
}

a {
  color: white;
}

.profile {
  margin-left: 400px;
}

.change {
  margin-left: 10px;
}

.change-profile {
  margin-top: 10px;
}
