<div class="container" >
  <div class="jumbotron">
    <div class="row">
        <form class="form-horizontal">
          <fieldset>
            <legend><h2><strong>Add movie from IMDB</strong></h2></legend>
            <div class="form-group">
              <label class="col-lg-2 control-label">IMDB id</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" placeholder="imdbID">
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-2">
                <button class="btn btn-default">Back</button>
                <button class="btn btn-md btn-success">Add</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
   </div>
</div>
