<div class="container" >
<div class="jumbotron">
  <div class="row">
    <div class="col-md-6">
      <div class="details">
        <img src="{{ photoUrl }}">
        <h2><strong>Username : </strong>{{ displayName }} <button class="btn btn-info">Change</button></h2>
        <h2><strong>Email : </strong>{{ email }} <button class="btn btn-info">Change</button></h2>
        <h2><strong>Password : </strong><button class="btn btn-info">Change</button></h2>
        <h2><strong>User ID : </strong>{{ uid }}</h2>
      </div>
    </div>
  </div>
  </div>
</div>
