<div class="container" >
<div class="jumbotron">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
     <label for="sel1">Genres :</label>
     <select class="form-control" id="sel1">
       <option>Action</option>
       <option>Animation</option>
       <option>Comedy</option>
       <option>Documentary</option>
       <option>Adventure</option>
       <option>Journal</option>
       <option>Fantasy</option>
     </select>
     <label for="sel1">Year :</label>
     <input type="text" class="form-control">
   </div>
  </div>
  </div>
</div>
