<div class="container" >
<div class="jumbotron">
  <div class="row">
    <div class="col-md-6">
        <div class="form-group">
          <label for="sel1">Genre :</label>
          <select class="form-control" id="genre">
            <option>action</option>
            <option>animation</option>
            <option>comedy</option>
            <option>documentary</option>
            <option>adventure</option>
            <option>journal</option>
            <option>fantasy</option>
            <option>anime</option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <label for="sel1">Title :</label>
        <input type="text" class="form-control" id="title">
      </div>
  </div>
  <div class="row">
    <div class="col-md-6" style="margin-top: 10px;">
      <a href="#/searcher" class="btn btn-block btn-info">Clear</a>
    </div>
    <div class="col-md-6" style="margin-top: 10px;">
      <a href="#/search-movie" class="btn btn-block btn-success">Search</a>
    </div>
  </div>
  </div>
</div>
</div>

<div id="found-movies">
</div>
